<div class="">
  <h4 class="">{{isEdit ? 'Edit User' : 'Create User'}}</h4>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter name"
           [(ngModel)]="user.name">
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter mobile"
           [(ngModel)]="user.mobile">
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter address"
           [(ngModel)]="user.address">
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="addOrUpdateUser()">Save
  </button>
  <button type="button"
          class="btn btn-primary"
          (click)="cancel()">cancel
  </button>
</div>
